// 資料大類（用於條列頁）
// --------------------------------------------------------------- //
.category{ 
  @extend %blockWidth; 
  ul{ list-style: none; margin: 0; padding: 0; line-height: 1.1;
    &::after{ content: ''; display: block; clear: both;}
  }
  li{ float: left; margin: 5px;
    a {
      display: block; outline: none;
      color: $fontColor; background: $fontInvert; text-decoration: none;
      height: 2.6em; line-height: 2.6em; padding: 0 1em; border-radius: 1.5em;
      box-shadow: $borderColorLight 0 0 0 1px, $borderColorLight 0 0 5px;
      transition: .2s;
      &:hover, &:focus{  box-shadow: $primaryColor 0 0 0 2px, $borderColorLight 0 0 8px 3px;}
    }
    &.active{
      a{background-color: $primaryColor; color: $fontInvert; box-shadow: $primaryColor 0 0 0 2px;
        &:hover, &:focus{ box-shadow:$fontInvert 0 0 0 1px, $primaryColor 0 0 0 3px;}
      }
    }
  }
}
// --------------------------------------------------------------- //