// 內容頁cp.html主文
// --------------------------------------------------------------- //
.cpArticle{
  @extend %blockWidth;
  line-height: 1.9; font-size: 1.15rem;
  a{ 
    text-decoration: none; border-bottom: 1px solid $linkColor;
    color: $linkColor; text-decoration: none;
    &:hover{border-bottom-width: 3px;}
    &:focus{
      box-shadow: $linkColor 0 0 0 2px;
      border-bottom-width: 0;
    }
  }

  p{ margin: 1em 0;}

  h3, h4, h5, h6{ font-weight: bold; margin: 1.5rem 0 .5rem;
    & + p{margin-top: .5rem;}
  }
  h3{ font-size: 1.3em;}
  h4{ font-size: 1.2em;}
  h5{ font-size: 1.15em;}
  h6{ font-size: 1em;}

  figure{
    margin: 0 auto 1em; padding: 5px; width: 100%;
    text-align: center; background: #fff; @extend %shadow1;
    &.noBorder{ box-shadow: none; padding: 0;}

    img{ display: block; width: 100%; max-height: 70vh; object-fit: contain; transition: .2s; }
    figcaption{
      display:inline-block; margin: .5em auto 0; padding: 0; 
      text-align: left; line-height: 1.6; font-size: .9em;
    }
    a{
      display: block; text-decoration: none; border: none;
      overflow: hidden; width: 100%; max-height: 70vh;
      &.showLightbox{
        position: relative;
        &::after{
          content: ''; width: 32px; height: 32px;
          position: absolute; right: 0;bottom: 0;
          background:rgba(255,255,255,.55) url(../images/icon_search.svg) no-repeat center center;
          background-size: 60%;
          transition: .2s;
        }
      }

      &:hover, &:focus{
        border: none; background: none;
        img{ transform: scale(1.1); }
        &::after{background-color: rgba(255,255,255,.95);}
      }
      &:hover{box-shadow: $white 0 0 0 1px, $linkColor 0 0 0 2px;}
      &:focus{ box-shadow: $white 0 0 0 1px, $linkColor 0 0 0 4px;}
    }
  }


  blockquote{
    position: relative; font-style: italic;
    padding:1em 1.5em 1em; margin-left: 2.5em; margin-right: 1em; margin-bottom: 2.5em;
    font-size: .95em; background-color: #fff8;
    &::before, &::after{ content: ''; position: absolute; top: -5px; bottom: -5px; width: 15px;
      border: 5px solid $hilight;
    }
    &::before{ left: 0; border-right:none;}
    &::after{ right: 0; border-left:none;}
  }
  table{
    border-collapse: collapse; margin: 0; width: 100%;
    border: 2px solid $borderColor;
    background-color: $white;
    line-height: 1.5;
    th, td{ padding: .5em; border: 1px solid $borderColorLight;}
    th{ background-color: darken($mainBg, 8%); 
      &:first-child{ border-right-color: $borderColor;}
    }
    tr:first-child th{border-bottom-color: $borderColor;}
  }

  .imageCenter{
    margin: 1em auto; width: auto;
    img{ display: block; max-width: 100%; margin: 0 auto; }
  }


  .bigButton{
    display: inline-block;
    &>a{
     display: block; height: 2.5em; line-height: 2.5; padding:0 1em;
     border-radius: 2em;
     font-size: 1.5rem; text-decoration: none; border: none;
     color: $linkColor;
     box-shadow:$linkColor 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 6px 24px;
     transition:transform .2s, box-shadow .1s;
     &:hover{
      box-shadow:$linkColor 0 0 0 3px, rgba(0, 0, 0, 0.3) 0 6px 24px;
    }
    &:focus{
      box-shadow:$linkColor 0 0 0 3px, rgba(0, 0, 0, 0.6) 0 2px 10px;
      background-color: $linkColor; color: $fontInvert;
      transform: translateY(5px);
    }
  
    }
  }

  @media screen and (min-width: $wwMedium){
    figure{
      img{ height: auto; max-height: none;}
      &.fl{ float: left; margin-right: 1em; width: 45vw;}
      &.fr{ float: right; margin-left: 1em; width: 45vw;}

      &.full{ clear: both; margin: 3em auto;}
    }
  }

  @media screen and (min-width: $wwNormal){
    figure{ 
      &.fl{ width: 45%;}
      &.fr{ width: 45%;}
    
    }
    blockquote{margin-left: 4em;}
  }

}
// --------------------------------------------------------------- //



// 圖檔排列方式：兩圖並排、三圖並排 //
// --------------------------------------------------------------- //
.twoFigs, .threeFigs { 
  clear: both; margin: 2em auto; padding: 1em 0;
  box-shadow: $borderColorLight 0 0 0 1px;
  &>figure{ box-shadow: none; margin: 20px 0 0;}
  h3, h4{ text-align: center; margin: 1em auto 0;}

  &.noBorder{ box-shadow: none;}
}
@media screen and (min-width: $wwMedium){
  // 兩圖並排
  .twoFigs, .threeFigs { 
    display: flex; flex-flow: row wrap; align-items: flex-start;
    justify-content: flex-start;
    h3, h4{
      flex: 0 0 100%; 
    }
  }
  .twoFigs {
    &>figure{ 
      flex: 0 0 calc(50% - 10px); margin-right: 20px;
      &:nth-of-type(2n){margin-right: 0;}
    }
  }

  // 三圖並排
  .threeFigs {
    &>figure{ flex: 0 0 calc(33.33% - 12px); margin-right: 18px;
      &:nth-of-type(3n){margin-right: 0;}
    }
  }
}
// --------------------------------------------------------------- //



// 共用標題樣式：檔案下載（或附件）、相關連結（或延伸閱讀）、相關照片
// --------------------------------------------------------------- //
.fileDownload, .seeAlso, .cpArticle~.photoflow{
  @extend %blockWidth; margin-top: 60px;
  h3{font-size: 1.4em; margin: 0 0 .5em;}
  ul, ol{margin: 0; padding: 0; list-style: none; line-height: 1.6;}
  a{text-decoration: none; }
}
// --------------------------------------------------------------- //



// 檔案下載（或附件）
// --------------------------------------------------------------- //
.fileDownload{
  li{margin: 5px 0; padding: 0 0 5px 24px; position: relative;
    border-bottom: 1px solid $borderColor;
    &::before{content: ''; width: 8px; height: 8px; background: $fontColorLight;
      position: absolute; left: 6px; top: 1em;
    }
  }
  .fileName{ display: inline-block;vertical-align: middle;}
}
// --------------------------------------------------------------- //



// 相關連結（或延伸閱讀）
.seeAlso{
  li{ margin: 10px 0;
    a{ display: block; color: $fontColor; box-shadow: $borderColor 0 2px 0 -1px;
      padding: .5em 0 .4em 24px; position: relative;
      &::before{content: ''; width: 0; height: 0; border-style: solid; 
        border-width: 6px 0 6px 8px; border-color: transparent transparent transparent $fontColorLight;
        position: absolute; left: 7px; top: .93em; transition: .15s;
      }

      &:hover, &:focus{ box-shadow: $primaryColor 0 3px 0 -1px;
        &::before{border-left-color: $primaryColor; transform: scale(1.25)}
      }
      &:focus-visible {outline: 2px solid $primaryColor; box-shadow: none}
    }
  }
  
}
// --------------------------------------------------------------- //



// cp 頁，上一則、下一則
// --------------------------------------------------------------- //
.cpNav{
  @extend %blockWidth; margin-bottom: 5em;
  ul{ list-style: none; margin: 0; padding: 0;
    display: flex; justify-content: space-between;
    &>li{margin: 0; padding: 0;
      a{ display: block; position: relative;
        background: $white; color: $fontColor; text-decoration: none;
        height: 2.8em; line-height: 2.9; padding: 0 1em; border-radius: 2em;
        box-shadow:$borderColor 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 1px 3px;
        transition:.2s ;
        &::before{
          content: ''; position: absolute; top: 1em;
          width: 11px;height: 11px;
          border: 3px solid $borderColorDark;border-bottom: none;border-left: none;
          transform: rotate(45deg); transition: .2s;
        }

        &:hover, &:focus{box-shadow:$primaryColor 0 0 0 2px, #0007 0 6px 18px -4px;
          color: $fontInvert; background-color: $primaryColor;
          &::before{ border-color: $fontInvert;}
        }
      }

      &.prev{
        a{ padding-left: 40px; 
          &::before{ left: 20px; transform: rotate(225deg);}
        }
      }
      &.next{
        a{ padding-right: 40px;
          &::before{ left: auto; right: 20px;}
        }
      }


    }
  }
}
// --------------------------------------------------------------- //



// 相關照片
// --------------------------------------------------------------- //
.cpArticle~.photoflow{ 
  $dotDia : 8px;
  $flowBottom : 40px; 

  .flowBox{position: relative; width:100%; overflow: hidden; padding: 0 0 $flowBottom*2;}

  .flowList{list-style: none; margin: 0 0 10px; padding: 0;
    display: flex; flex-flow: row nowrap;
    &>li{ flex: 0 0 calc(#{$mobileWidthVW}/2 - 10px);  margin: 0 5px; padding: 5px 0 0; overflow: hidden;
      &>a{ display: block; width: 100%;  position: relative; transition: .5s; overflow: hidden;
        &::before{content: ''; 
          position: absolute; left: 0; right: 0; top: 0; bottom: 0;
          box-shadow: $primaryColor 0 0 0 2px inset; opacity: 0; z-index: 9;
        }
        &:hover, &:focus {
          p{ transform:  translateY(0); }
          img{ transform: scale(1.1);}
        }
        &:focus {
          p{ transition: none;}
        }
        &:focus::before{opacity: 1;}
      }
      img{ display: block; width: 100%; height: calc(#{$mobileWidthVW}*.5 - 10px); object-fit: cover; transition: .3s;}
      p{ position: absolute; left: 0; right: 0; bottom: 0;
        background: rgba(0, 0, 0, 0.667); color: #fff;  padding:5px 10px; margin: 0;
        transform: translateY(101%); transition: .5s;
      }
    }
  }

  .flowNav{ 
    position: absolute; bottom: calc($flowBottom - $dotDia*.5) - 1px; z-index: 9;
    width: calc(100% - 164px);
    ul{list-style: none; margin: 0; padding: 0; display: flex;}
    li{ margin: 0 8px; padding: 0;
      &::before{ content: ''; display: block;
        width: $dotDia; height: $dotDia; border-radius: 50%; cursor: default;
        background: $borderColor; border: none; margin: 0; padding: 0;
        transition: .2s;
      }
      &.active{
        &::before{ box-shadow: $borderColorDark 0 0 0 3px;background:$borderColorDark}
      }
    }
  }

  // 左右箭頭 button
  .diskBtn{
    bottom: 6px; right: 12px; z-index: 9;
    &.prev{ translate: calc(-100% - 12px);}
  }

  @media screen and (min-width: $wwMedium){
    .flowList{
      &>li{flex-basis: calc(#{$mobileWidthVW}/3 - 10px);
        img{height: calc(#{$mobileWidthVW}/3 - 10px);}
      }
    }

    .flowNav{
      li{margin: 0 12px;}
    }
  }

  @media screen and (min-width: $wwNormal){
    .flowList{
      &>li{ flex-basis: calc(#{$normalWidthVW}/4 - 9px);
        img{ height: calc(#{$normalWidthVW}/4 - 9px);}
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    .flowList{
      &>li{flex-basis: calc(#{$maximumWidth}/4 - 9px);
        img{height: calc(#{$maximumWidth}/4 - 9px);}
      }
    }
  }

}
// --------------------------------------------------------------- //



// 燈箱中的大圖
// --------------------------------------------------------------- //
.bigPhotoShow{ 
  .flowBox{ position: relative; top: 50px;
    width: 100%; height: calc(100vh - 6vw - 130px);
  }
  .flowList{
    &>li{ position: absolute; left: 100%; top: calc(45vh - 60vw);
      width: 94vw;height: 94vw; text-align: center;
      // border : 1px dashed #f60;
      // transition: left .4s;
      &.show{left: 0;}
      img{display: block; margin: 0 auto; width: 100%; height: 100%;max-height: calc(100vh - 6vw - 140px); object-fit: contain;}
      p{padding: 10px; margin: 0; color: $fontInvert; display: inline-block; line-height: 1.6;
        min-height: 2em; text-align: left;
      }
    }
  }

  .diskBtn{ position: absolute; bottom: -10px; margin:0 5px auto; 
    transform: translateY(100%);
    &.next{left: auto; right: 0;}
  }

  @media screen and (min-width: $wwMedium){
    .flowList>li{
      top: 0; height: calc(100% - 6vw - 60px);
    }
  }

  @media screen and (min-width: $wwNormal){
    .flowList>li{
      height: calc(100% - 60px);
    }
  }

  @media screen and (min-width: $wwMaximum){
    .flowBox{ width: $wwMaximum*.94; }
    .flowList>li{width: 100%;
      // img{ height: calc(100% - 6vw - 140px); width: 100%;}
      // height: calc(100vh - 6vw);
      p{margin-left: 70px; margin-right: 70px;}
    }
  }

}

.lightbox.bigPhoto{
  background-color: transparent; box-shadow: none;
}
// --------------------------------------------------------------- //