// --------------------------------------------------------------- //
// 表單排版用表格 <table class="formLayout">
.formLayout {
  border-collapse: collapse;line-height: 1.3;padding: 0;margin: 0 auto;
  td { 
    padding: 2px 0;
    &:nth-child(even) { padding-bottom: 8px;}
  }
  td:nth-child(odd), th {
    vertical-align: top; width: 20%;
    padding:1.2em 0.5em 0 0; min-width: 8.5em;
  }

  @media screen and (max-width: calc($wwMedium - 1px)) {
    display: block; width: auto;
    tbody {display: block;}
    tr, td, th {display: block; width: 100%;}
    td {padding: 1px 0;}
    td:nth-child(odd), th {
      width: 100%;padding: 1.6em 3px 1px 3px;
      vertical-align: top;text-align: left;
    }
  }
}
// --------------------------------------------------------------- //



// formA：特定樣式表單
// --------------------------------------------------------------- //
.formA{
  @extend %blockWidth; 
  margin-bottom: 100px;
  .note:first-child{ margin: 0 auto;width: 100%; max-width: 36em;}
  .formLayout{max-width: 34em;}
  
  @media screen and (min-width: $wwMedium){
    .note:first-child{max-width: 45em;}
    .note + .formLayout{margin-top: 1.5em;}
    .formLayout{max-width: 47em;}
  }
  
  @media screen and (min-width: $wwNormal){
    padding: 2em 0; background: $white;
    .note:first-child{ max-width: none;width: 46em;}
    .formLayout{max-width: none;width: 44em;}
  }
}
// --------------------------------------------------------------- //



// 表單輸入欄位之提示、警告、說明文字
// --------------------------------------------------------------- //
.note, .warning, .hint, .error{ position: relative;
  font-size: .95em;line-height: 1.55;margin: .3em 3px 0; padding-left: 1.7em;
  &::before, &::after{ content: ''; position: absolute;left: 0; top: 0;  width: 1.4em; height: 1.4em;}
  &::before{
    z-index: 9; 
    color: $fontInvert;
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &::after{ content: ''; position: absolute; border-radius: 50%;}
}

.note{ color: $fontColorLight;}

.error{ 
  color: #bb0030;
  &::before { background-image: url(../images/icon_msg_error.svg);}
  &::after{background-color: #bb0030;}
}
.warning{
  color: #ce4800;
  &::before { background-image: url(../images/icon_msg_warning.svg);}
  &::after{ background-color: #ce4800;}
}
.hint{
  color: #3b7984;
  &::before { background-image: url(../images/icon_msg_hint.svg);}
  &::after{background-color: #3b7984;}
}
// --------------------------------------------------------------- //



// 表單下方按鈕群
// --------------------------------------------------------------- //
.btnDv{text-align: center;margin: 2em auto; padding: 10px 0;}
// --------------------------------------------------------------- //
