
// imgSlick 大圖容器包含圖片資料表
.imgSlick{ 
  position: relative; @extend %blockWidth;
  margin-top: 0; margin-bottom: 5em; padding: 10px;
  background: #000;

  .slick-arrow{
    &.slick-prev{ left: -4px; }
    &.slick-next{ right: -4px; }
  }

  .slider-for{ 
    .slick-slide{ position: relative; cursor: pointer;
      img{ 
        display: block; margin: 0 auto;
        width: 100%; height: $mobileWidthVW; object-fit: contain;
      }
      .caption{
        position: absolute; bottom: 0; left: 0;right: 0;
        padding:80px 12px 0; margin: 0; line-height: 1.5;
        display: -webkit-inline-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;
        overflow: hidden;

        color: $fontInvert; text-align: left;
        background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 120px);
        transition: .6s;
        time{ display:inline-block; margin-right: .8em; color: $hilight2;}
        .photoViewCount{ 
          display: inline-block; font-size: .9em; margin-left: .8em;
          &::before{
            content: ''; display: inline-block; 
            vertical-align: middle;  margin-right: 3px; width: 22px; height: 16px;
            background: url(../images/icon_eye2.png) no-repeat 0 0; background-size: 22px;
          }
        }
      }
      &:hover{
        .caption{ transform: translateY(100%);}
      }

      &::before{
        content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
        box-shadow: $assistant2 0 0 0 2px inset; z-index: -1;  display: none;
      }
      &:focus{
        &::before{display: block;z-index: 9;}
      }
    }

  }
  
  .slider-nav{ 
    margin: 10px auto; padding: 10px 0;
    .slick-slide{
      cursor: pointer;display: block;
      height: calc(#{$mobileWidthVW}/3 - 10px);padding: 5px; margin: 5px;
      box-shadow: $borderColor 0 0 0 1px inset;
      img{ display: block; height: 100%; width: auto; object-fit: contain;}

      &.slick-current{ box-shadow: $hilight 0 0 0 3px inset; }
    }

  }

  &>time{
    display: block; margin: .5em auto; text-align: right;
    &::before{
      display: inline-block; content: attr(title) '：'; color: $fontColorLight;
    }
  }

  // 在資料表格之上空出垂直距離給導覽小圖
  &.hasMeta{ position: relative;
    .slider-for{ 
      .slick-slide{
        .meta{ margin: calc(#{$mobileWidthVW}/3 + 30px) auto 0; }
      }
      .slick-arrow{top: calc($mobileWidthVW/2); }
    }
    .slider-nav{ position: absolute; top: $mobileWidthVW; left: 0; right: 0; }
  }

  // 橫式為主
  &.landscape{
    .slider-for{
      .slick-slide{  background: #000;
        img{ height: $mobileWidthVW*.67; width: auto; max-width: 100%; object-fit: cover;}
      }
    }
  }


  // 瀏覽人次
  .viewCount{text-align: right; padding-right: .5em;}

  // 相片張數
  .photoCount{
    position: absolute; right: 12px; top: 12px; z-index: 9;
    background: rgba(0,0,0 , .7); color: $fontInvert;
  }

  @media screen and (min-width: $wwMedium){
    .slider-for{ 
      .slick-slide{
        img{ height: 658px; }
      }
    }
    .slider-nav{ 
      .slick-slide{ height: 100px; }
    }


    // ------- hasMeta
    &.hasMeta{
      .slider-for{ 
        .slick-slide{
          .meta{ margin-top: 240px;}
        }
        .slick-arrow { top: 329px; }
      }
      .slider-nav{ top: 658px; }
    }

    // ------- landscape
    &.landscape{
      .slider-for{
        .slick-slide{ 
          img{ height: $mobileWidthVW*.67;}
        }
      }
    }
  

  }

  @media screen and (min-width: $wwNormal){
   margin-bottom: 5em;
    // ------- landscape
    &.landscape{
      .slider-for{
        .slick-slide{ 
          img{ height: calc((100vw - 210px)*.67);}
        }
      }
    }
  }


  @media screen and (min-width: $wwMaximum){
    // ------- landscape
    &.landscape{
      .slider-for{
        .slick-slide{ 
          img{ height: calc((#{$wwMaximum} - 210px)*.67);}
        }
      }
    }
  }
}



// 燈箱中的大圖瀏覽
.lightbox{
  .bigImgShow{ position: relative; height: 100%;
    img{ display: block; width: 100%; height: 100%; object-fit: contain;}
    .caption{
      position: absolute; bottom: 0;left: 0; right: 0;
      padding:80px 15px 10px; margin: 0; line-height: 1.5;
      // display: -webkit-inline-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;
      // overflow: hidden;
      // white-space: nowrap; text-overflow: ellipsis;
      color: $fontInvert; text-align: left;
      background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 50px, rgba(0,0,0,1) 90%);
      transition: .6s;
      time{ display:inline-block; margin-right: .8em; color: $hilight2;}
      .photoViewCount{ display: block; margin-top: .5em; font-size: .9em;
        &::before{content: ''; display: inline-block; 
          width: 22px; height: 16px;vertical-align: middle;  margin-right: 3px;
          background: url(../images/icon_eye2.png) no-repeat 0 0; background-size: 22px; }
      }
      &:hover{
        .caption{ transform: translateY(100%);}
      }
    }
  }
}

