// 主選單
// ------------------------------------------------------ //
.menu{
  ul{list-style: none; margin: 0 auto;padding: 0;}
  li{
    margin: 0;padding: 0;position: relative;
    a{display: block; outline: none; text-decoration: none;}
  }
}


// 寬版主選單
// ------------------------------------------------------ //
.webHeader .menu{
  display: none;

  @media screen and (min-width: $wwNormal){
    display: block;
    // outline: 1px dashed #f003;
    // outline-offset: -1px;
      
    // 第一層 ul
    &>ul{
      display: flex; flex-flow: row nowrap; justify-content: space-between;
      margin: 0 auto; width: calc($normalWidth + 40px);
      line-height: 1.5; font-size: 1.15em;

      // 第一層 li
      &>li{
        flex: 0 1 auto; margin: 0;text-align: center;
        transition: .2s; 
        &>a{
          padding:.9em 20px;color: $fontColor;
          transition: .2s;
          &:focus, &:hover {background-color: $primaryColor; color: $white;}
        }

        &.here {
          &>a{ background-color: $primaryColor; color: $white;}
        }

        // 第二層及其之後
        ul{
          display: none; 
          position: absolute; z-index: 9; width: 12rem; 
          text-align: left;font-size: 1rem;
          background-color: $white; color: $black;
          box-shadow: rgb(0 0 0 / .3) 0 5px 20px;
          li{
            a{
              color: $black; padding: .9em .9em .8em; 
              transition: .2s; 
              &:focus, &:hover {background-color: $primaryColor; color: $white;}
            }

            // 有次選單的 li
            &.hasChild{
              &>a{
                position: relative; padding-right: 36px;
                &::after{
                  position: absolute; left: auto; right: 13px; top: 1.3em;
                  content: ''; width: 8px; height: 8px; 
                  border: 2px solid $black; border-left: none; border-bottom: none;
                  transform: rotate(45deg);
                  transition: .2s;
                }
                &:hover, &:focus{
                  &::after{ border-color: $white; }
                }
              }
  
              // 調轉箭頭方向
              &.turn{
                &>a::after{ transform: rotate(225deg); right: 9px; }
              }
    
              // 第三層及其之後
              ul { top: 0;left: 100%; }
            }
            &.here{
              background-color: $primaryColor; 
              &>a{
                color: $white;
                &::after{border-color: $white;}
              }
            }
          }
        }

        // 第二層 ul
        &>ul {top: auto;left: 0;z-index: 99;}
      }
    }
  
    @media screen and (min-width: $wwMaximum){      
      &>ul{max-width: $maximumWidth;}
    }
  }

}
// ------------------------------------------------------ //