// 節點頁
// --------------------------------------------------------------- //
.np, .npTree{
  @extend %blockWidth;
  ul{list-style: none; margin: 0; padding: 0; line-height: 1.6;}
  li{padding: 2px 0;
    a{
      position: relative; display: block; 
      padding: .7em .5em .65em 26px;
      text-decoration: none; outline: none;
      color: $fontColor;
    }
  }
  &>ul>li>a{ padding-left: 30px;}
}


// 單層
.np{
  &>ul{
    margin: 15px 0;
    &>li{
      margin: 5px 0 10px; padding:0;
      &>a{
        box-shadow: $borderColor 0 0 0 1px;  padding: .9em .5em .8em 32px;
        height: 100%; transition: .2s;
        &::before{
          content: '';position: absolute; transition: .2s;
          left:12px; top:1.15em; width: 0;height: 0; box-sizing: content-box; 
          border-style: solid; border-width: 7px 0 7px 9px;
          border-color: transparent transparent transparent $borderColorDark;
        }
        &:hover, &:focus{background-color: $primaryColor; color: $white;
          &::before{ border-left-color: $white; transform: scale(1.25);}
        }
        &:hover {
          box-shadow:$white 0 0 0 0, $primaryColor 0 0 0 1px;
        }
        &:focus{box-shadow:$white 0 0 0 1px, $primaryColor 0 0 0 4px;}
      }
    }
  }
  @media screen and (min-width: $wwMedium){
    &>ul{
      display: flex; flex-flow: row wrap; justify-content: space-between;
      &>li{ flex:0 0 calc(50% - 5px); margin: 5px;
        &:nth-child(odd){ margin-left: 0;}
        &:nth-child(even){ margin-right: 0;}
      }
    }  
  }
}

// 多層（本案只做兩層），樹狀結構
.npTree{
  &>ul{
    &>li{
      margin: .6em 0; padding:4px;
      box-shadow: $borderColorLight 0 0 0 1px;background-color: $white;
      ul{margin-left: 22px;}
      a{ 
        transition: .25s;
        &::before{content: ''; position: absolute;transition: .2s;}
        &:hover, &:focus {
          background-color: $primaryColor; color: $white;
         
        }
      }
      &>a{
        &::before{
          left:12px; top:.95em; width: 0; height: 0; box-sizing: content-box; 
          border-style: solid; border-width: 7px 0 7px 9px;
          border-color: transparent transparent transparent $borderColorDark;
        }
        &:hover, &:focus{
          &::before{ border-left-color: $white; transform: scale(1.25);}
        }
        &:focus{box-shadow: $primaryColor 0 0 0 2px inset;}
      }
      &>ul{ margin-top: 2px;}
      ul>li>a{
        &::before{ 
          width: 8px; height: 8px;left: 10px; top: 1.2em;
          background-color: $borderColorDark;
        }
        &:hover, &:focus{
          &::before{ background-color: $white;}
        }
      }
    }
  }

}