// 計畫分類內容頁
// --------------------------------------------------------------- //
.project{
  @extend %blockWidth; padding:0 0 1px;

  .list, .meta, .cpArticle { 
    padding: 20px 2vw; margin: 0 auto;
    width: auto;
  }
  .imgSlick{ margin: 0; width: auto;}

  @media screen and (min-width: $wwMedium){
    .list, .meta, .cpArticle { 
      padding: 32px 14px;
    }
  }
}

.project .tabset {
  .tabContent {
    display: none; position: relative;
    background: $white;
    button.skip{
      position: absolute; width: 1px; height: 1px; padding: 0; right: 0;bottom: 0;
      background-color: transparent; border: none;
    }
  }

  .tabItems{
    overflow: hidden;
    padding: 4px;
    button{
      float: left; height: 3em; line-height: 3.1; margin: 3px;padding:0 1em;
      color: $fontColor;background-color: $borderColorLight;
      border-radius: 4px; box-shadow: none; border: none; outline: none;
      &:first-child{margin-left: 0;}
      &:last-child{margin-right: 0;}  
      &:hover, &:focus{
        box-shadow: $primaryColor 0 0 0 2px;
      }
      &.active{
        background-color: $primaryColor; color:$fontInvert;
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    .tabItems{
      margin: 0; padding: 0; display: flex; flex-flow: row wrap;
      justify-content: space-between; align-items: flex-end; 
      border-bottom: 2px solid $borderColor;

      button{
        position: relative;
        flex: 1 1 auto; padding:0; margin:3px 2px 0; 
        border-radius: 6px 6px 0 0;
        transition: .2s;
        &::after{
          content: ''; position: absolute; left: 0; right: 0;
          bottom: -3px; height: 3px;
          background: $secondaryColor;
          transition: .2s;
        }
        &:hover, &:focus{
          margin-top: 0; padding-bottom: 14px;
          box-shadow: none;
          &::after{ bottom: 0;}
        }
  
        &.active{
          height: calc(3em + 3px); margin-top: 0;
          &::after{ height: 5px;}
          &:hover, &:focus{ padding-bottom: 17px; }
        }
      }
    }
  }

}
// --------------------------------------------------------------- //