.thumbnail{
  @extend %blockWidth; 
  ul{list-style: none; margin: 0; padding: 0;}
  &>ul{ 
    line-height: 1.1;
    &>li{ 
      margin: 0 0 16px;
      &>a{
        position: relative; display: block; color: $fontColor;
        height: 100%; padding: 8px;
        background: $white; text-decoration: none; outline: none;
        @extend %shadow1; transition: .3s;
        &:hover{
          @extend %shadow2;
          color: $fontColorDark;
          p, h3{text-decoration: underline;}
          .videoThumb::before {
            background-color: $warning;
            box-shadow: $white 0 0 0 0 inset, $white 0 0 0 5px;
          }
        }
        &:focus{box-shadow: $primaryColor 0 0 0 3px, $shadow2 0 4px 16px;}
      }

      .label{ 
        position: absolute; right: 4px; top: -3px; 
        height: 2.1em; line-height: 2.3em; padding: 0 1em;
        background-color: $assistant1; color: $fontInvert;
        box-shadow: rgba(0, 0, 0, 0.267) 0 2px 3px; z-index: 9;
        border-radius: 2px 2px 6px 6px; 
      }

      img{ display: block; width: 100%; margin: 0 0 1em; }

      .videoThumb{ 
        position: relative; width: 100%; background: $black;
        &::before {
          content: ''; z-index: 9;
          width: 72px;height: 72px; border-radius: 50%;
          position: absolute; left: calc(50% - 36px); top: calc(50% - 36px);
          background: rgb(0 0 0 / .4) url(../images/icon_playArrow.svg) no-repeat calc(50% +  5px) center;
          background-size: 24px auto;
          box-shadow: $white 0 0 0 5px inset;
          transition: .2s;
        }
        img{ width: 100%; aspect-ratio:1.7778; height: auto; object-fit: cover;}
        & ~ p {font-size: 1rem;}
      }
      h3{ 
        font-size: 1.3em;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;
        overflow: hidden;
      }
      p{ 
        margin: .5em 0; font-size: 1.15em; line-height: 1.5;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;
        overflow: hidden;
      }
      time{ display: block;}
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{ 
      display: flex; flex-flow: row wrap; gap: 16px;
      &>li{ 
        flex: 0 0 calc(50% - 8px); margin: 0; 
        img{aspect-ratio: 1; object-fit: cover;}
        .videoThumb img {aspect-ratio:1.7778;} 
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    &>ul{ 
      gap: 15px;
      &>li{ 
        flex-basis: calc(33.3333% - 10px); 
        &>a:hover{ transform: translateY(-4px);}
      }
    }
  }

}


// 一列兩筆
.thumbnail2{
  @extend %blockWidth;
  margin: 2em auto;

  .decoImage{ 
    img{ display: block; width: 100%;}
  }
  ul{list-style: none; margin: 0; padding: 0;}
  &>ul{ line-height: 1.6;
    &>li{ margin: 0 0 24px;
      &>a{ display: block; position: relative;
        color: $fontColor; padding: 8px 8px 3em; height: 100%;
        background: #fff; text-decoration: none;
        @extend %shadow1; transition: .3s;
        &:hover{@extend %shadow2;}
        &:focus{box-shadow: $assistant2 0 0 0 2px inset;}
        &:hover, &:focus{
          h3, p{text-decoration: underline;}
        }

        img{ display: block; width: 100%; margin: 0 0 1em;
          max-height: 80vw; object-fit: contain;
        }
      }

      .label {
        position: absolute;right: 4px;top: -3px;
        height: 2.1em;line-height: 2.3em;padding: 0 1em;
        background-color: $assistant1;color: $fontInvert;
        border-radius: 2px 2px 6px 6px;
        box-shadow: rgba(0, 0, 0, 0.267) 0 2px 3px;
        z-index: 9;
      }

      h3{ font-size: 1.3em; margin: .5em 0;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;
        overflow: hidden;
      }
      p{ margin: .5em 0 2em;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;
        overflow: hidden;
      }
      time{ position: absolute; left: 8px; bottom: 8px; font-size: .95em;
        &::before{content: attr(title) '：'; color: $fontColorLight;}
      }
      .moreFake{position: absolute; right: 8px; bottom: 8px;}
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{ display: flex; flex-flow: row wrap; justify-content: space-between;
      &>li{ flex: 0 0 calc(50% - 12px);
        &.decoImage{ padding:10px;
          display: flex; flex-flow: column nowrap; justify-content: center;
        }
        &>a{
          img{max-height: 45vw;}
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    &>ul{
      &>li{
        &>a{
          img{max-height: 480px;}
        }
      }
    }
  }
}