// 影音內容頁（播放 youtube）
// --------------------------------------------------------------- //
.videoPlay{ 
  @extend %blockWidth;
  margin: 0 auto; padding: 0 0 2em;
  background: $black; color: $fontInvert;
  iframe{display: block; width: 100%; height: $mobileWidthVW*.5625; margin: 0; }
  .title { line-height: 1.5;font-size: 1.3em; margin: 1em 15px .6em;clear: both; }
  p{line-height: 1.9; margin: 1em 15px 0; clear: both;}
  .classify{
    float: right; margin: 10px 10px 6px; padding: 0 .5em; height: 1.8em; 
    line-height: 1.8em; border: 1px solid rgba(255,255,255,.5); border-radius: 4px;
  }

  @media screen and (min-width: $wwNormal){
    iframe{ height: calc(56.25vw - 118.125px);}
    h3, p{ margin-left: 20px; margin-right: 20px;}
  }

  @media screen and (min-width: $wwMaximum){
    iframe{ height: calc((#{$wwMaximum} - 210px)*.5625);}
  }
}
// --------------------------------------------------------------- //
